{% include 'base.html.twig' %}

{% block body %}
 <header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
   <div class="row">
    <div class="col-lg-12 mx-auto">
     <h1 class="text-uppercase">
      <br>
      <strong>DockYourVpn : Your Favorite VPN</strong>
     </h1>
     <hr>
    </div>
    <div class="col-lg-12 mx-auto">
     <p class="text-faded mb-5">N'hésite pas à te créer un compte avant afin d'obtenir la possibilité de créer ton VPN !</p>
     <a class="btn btn-primary btn-xl js-scroll-trigger" href="">DockYourVpn</a>
    </div>
   </div>
  </div>
 </header>
{% endblock %}